In [ ]:
!wget https://raw.githubusercontent.com/PyThaiNLP/lexicon-thai/master/clickbait/1.txt

--2021-05-15 04:04:45--  https://raw.githubusercontent.com/PyThaiNLP/lexicon-thai/master/clickbait/1.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 100059 (98K) [text/plain]
Saving to: ‘1.txt’

1.txt               100%[===================>]  97.71K  --.-KB/s    in 0.02s

2021-05-15 04:04:45 (6.27 MB/s) - ‘1.txt’ saved [100059/100059]

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

df = pd.read_csv('1.txt', delimiter = '\n', header = None)

In [ ]:
df

                                                     0
0    ตะลึง! คุณจะไม่เชื่อเลยว่า Facebook ทำแบบนี้! ...
1    ถึงกับอึ้งเลย!!! เมื่อหนุ่มคนนี้ถือช่อดอกไม้มา...
2    !!!…สมัครเป็นลูกเขยด่วน…!!! เคยเห็นยัง? ลูกสาว...
3    !!!…เกิดมาเพิ่งเคยได้ยิน…!!! เมื่อจู่ๆ “หมอทำข...
4    !!!…แชร์กันรัวๆ…!!! “กรูล่ะปวดหัวจริ๊งจริง..!!...
..                                                 ...
345  ไม่ได้หายไปไหน ให้เน้นกว่าเดิม !! เลขเด็ด "อ.โ...
346  ขยี้ตาแทบพัง !! "สาว"รีวิวพลีชีพ! จากเด็กอ้วนด...
347  จุกหนักพูดไม่ออก !! ภาพ "ทหารหนุ่ม" ยืนในร่มกั...
348  ช็อกทั้งโรงพยาบาล !! หนุ่มใหญ่ จู่ๆมีอาการ "เจ...
349  ช็อคทั้งโซเชียล !! ฉีกทุกกฎของ"การขายของ" "นัก...

[350 rows x 1 columns]

In [ ]:
df.columns = ['text']

In [ ]:
!pip install pythainlp

Collecting pythainlp
  Downloading https://files.pythonhosted.org/packages/6e/e7/837dd9ab52fac889af830dc094a1598251f70004a2f1707ab0ff8dc0f63a/pythainlp-2.3.1-py3-none-any.whl (11.0MB)
     |████████████████████████████████| 11.0MB 7.7MB/s
Collecting python-crfsuite>=0.9.6
  Downloading https://files.pythonhosted.org/packages/79/47/58f16c46506139f17de4630dbcfb877ce41a6355a1bbf3c443edb9708429/python_crfsuite-0.9.7-cp37-cp37m-manylinux1_x86_64.whl (743kB)
     |████████████████████████████████| 747kB 42.2MB/s
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from pythainlp) (2.23.0)
Collecting tinydb>=3.0
  Downloading https://files.pythonhosted.org/packages/af/cd/1ce3d93818cdeda0446b8033d21e5f32daeb3a866bbafd878a9a62058a9c/tinydb-4.4.0-py3-none-any.whl
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->pythainlp) (3.0.4)
Installing collected packages: python-crfsuite, tinydb, pythainlp
Successfully installed pythainlp-2.3.1 python-crfsuite-0.9.7 tinydb-4.4.0

In [ ]:
from pythainlp.tokenize import word_tokenize 

df['text_tokenized'] = df.text.apply(word_tokenize)

In [ ]:
df.head()

                                                text                                     text_tokenized
0  ตะลึง! คุณจะไม่เชื่อเลยว่า Facebook ทำแบบนี้! ...  [ตะลึง, !,  , คุณ, จะ, ไม่, เชื่อ, เลย, ว่า,  ...
1  ถึงกับอึ้งเลย!!! เมื่อหนุ่มคนนี้ถือช่อดอกไม้มา...  [ถึงกับ, อึ้ง, เลย, !!!,  , เมื่อ, หนุ่ม, คน, ...
2  !!!…สมัครเป็นลูกเขยด่วน…!!! เคยเห็นยัง? ลูกสาว...  [!!!…, สมัคร, เป็น, ลูกเขย, ด่วน, …!!!,  , เคย...
3  !!!…เกิดมาเพิ่งเคยได้ยิน…!!! เมื่อจู่ๆ “หมอทำข...  [!!!…, เกิด, มา, เพิ่ง, เคย, ได้ยิน, …!!!,  , ...
4  !!!…แชร์กันรัวๆ…!!! “กรูล่ะปวดหัวจริ๊งจริง..!!...  [!!!…, แชร์, กัน, รัว, ๆ…!!!,  , “, กรู, ล่ะ, ...

In [ ]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import nltk

In [ ]:
from nltk import bigrams,trigrams 
from collections import Counter, defaultdict

In [ ]:
model = defaultdict(lambda: defaultdict(lambda: 0))

for sentence in df.text_tokenized:
  for w1,w2,w3 in trigrams(sentence, pad_right=True, pad_left = True):
    model[(w1,w2)][w3] += 1 


for w1_w2 in model:
  total_count = float(sum(model[w1_w2].values()))
  for w3 in model[w1_w2]:
    model[w1_w2][w3]/= total_count

In [ ]:
import random 

text = ['คุณ','จะ']
sentence_finished = False

while not sentence_finished:
  r = random.random()
  accumulator = .0

  for word in model[tuple(text[-2:])].keys():
    accumulator += model[tuple(text[-2:])][word]

    if accumulator >= r:
      text.append(word)
      break
  if text[-2:] == [None,None]:
    sentence_finished= True

In [ ]:
print( ' '.join([txt for txt in text if txt]))

คุณ จะ คาดไม่ถึง !!